* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  text-align: center;
  font-size: 0;
}

.wrapper {
  margin: 0;
}

#board {
  font-size: 0;
  border: 0px solid red;
  width: 40rem;
  height: 40rem;
  margin: 2rem auto;
  text-align: center;
  box-sizing: content-box;
  display: none;
  cursor: pointer;
}

header {
  text-align: center;
  min-width: 60rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: rgb(30,30,30);
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

#inputWrapper {
  width: 45rem;
  margin: auto;
  text-align: center;
  display: none;
  line-height: 3rem;
  font-size: 0;
}

.inputMessage {
  font-size: 1.5rem;
}

input {
  margin-top: 2rem;
  width: 45rem;
  font-size: 1.5rem;
  font-weight: 300;
  display: inline-block;
  border-radius: .3rem;
  text-align: center;
  height: 3rem;
}

button {
  height: 2rem;
  width: 6rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 10rem;
  width: 4rem;
  height: 4rem;
  background-color: white;
  font-weight: 300;
  vertical-align: middle;
  display: block;
}

#instructions {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
}

#newGameButton {
  margin: 0 4px 0 0;
  color: rgb(190,190,190);
  cursor: not-allowed;
}

#resetButton {
  margin: 0 0 0 4px;
  cursor: pointer;
}

.info {
  font-size: 1rem;
  line-height: 1.5rem;
  width: 45rem;
  margin-top: 2rem;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}