* {
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: black;
}

.wrapper {
  border-radius: 1rem 1rem .25rem .25rem;
  background-color: rgb(179,179,179);
  max-width: 34.5rem;
  min-width: 34.5rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0; /*necessary to remove space between boardRows*/

}

.innerWrapper {
  max-width: 60rem;
  min-width: 34.5rem;
  border: 5px;
  border-color: rgb(20,65,232);
  border-style: solid;
  border-radius: 0 0 .25rem .25rem;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.headerBar {
  border-radius: 1rem 1rem 0 0;
  border: 5px;
  border-color: rgb(20,65,232);
  border-style: none;
  width: 100%;
  height: 2rem;



}

header {
  width: auto;
  min-width: 30rem;
  height: 4rem;
  margin: 1rem;
  line-height: 4rem;
}

.messageWrapper {
  width: auto;
  min-width: 30rem;
  height: 6rem;
  margin: 1rem;
}

  .message {
    width: auto;
    height: 4rem;
    line-height: 4rem;
    margin: 1rem;
  }

  .board {
    min-width: 30.5rem;
    width: auto;
    margin: 1rem;
    font-size: 0; /*necessary to remove space between boardRows*/
    marg
  }

    .boardRow {
      min-width: 300px;
      display: block;
      margin: auto;
      text-align: center;
    }
      #goButton {
        width: 4rem;
        height: 4rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        font-size: 1rem;
        line-height: 4rem;

      }

      .goRight {
        float: right;
        margin: none;
        display: inline-block;
        font-size: 1rem;
      }

      .goLeft {
        float: left;
        margin: none;
        display: inline-block;
        font-size: 1rem;
        line-height: 100%;
      }

      .goCenter {
        margin: none;
        display: inline-block;
        font-size: 1rem;
      }

      .tile {
        height: 100%;
      }

      .input {
        width: 70%;
        text-align: center;
        min-width: 12rem;
        height: 4rem;
        font-size: 1rem;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
      }

      .button {
        width: 10%;
        min-width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1rem;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5), inset 0px 0px 2px white;
      }
        